<h1>Listing consumers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Cell</th>
      <th>Donated date</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumers.each do |consumer| %>
      <tr>
        <td><%= consumer.name %></td>
        <td><%= consumer.gender %></td>
        <td><%= consumer.email %></td>
        <td><%= consumer.cell %></td>
        <td><%= consumer.donated_date %></td>
        <td><%= consumer.subject %></td>
        <td><%= link_to 'Show', consumer %></td>
        <td><%= link_to 'Edit', edit_consumer_path(consumer) %></td>
        <td><%= link_to 'Destroy', consumer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Consumer', new_consumer_path %>
