<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consumer.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @consumer.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @consumer.email %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @consumer.cell %>
</p>

<p>
  <strong>Donated date:</strong>
  <%= @consumer.donated_date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @consumer.subject %>
</p>

<%#= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%#= link_to 'Back', consumers_path %>
