<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donor.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @donor.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @donor.cell %>
</p>

<p>
  <strong>Donated date:</strong>
  <%= @donor.donated_date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @donor.subject %>
</p>

<%#= link_to 'Edit', edit_donor_path(@donor) %> |
<%#= link_to 'Back', donors_path %>
