<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @stock.qty %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @stock.expire_date %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
